{% extends "base.html" %}

{% block title %}{{ song.song_title }}{% endblock %}

{% block content %}
    <h1>{{ song.song_title }}</h1>
        <p>
            Tags:
            {% for tag in song.tags.all %}
                <a href="{% url "musics:song_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% load thumbnail %}
    {% thumbnail song.song_image "300" as im %}
        <a href="/media/{{ song.song_image }}">
            <img src="/media/{{ song.song_image }}" class="image-detail">
        </a>
    {% endthumbnail %}
    <div>
        <audio src="/media/{{ song.song_file }}" controls loop></audio>
    </div>
    {% with total_likes=song.users_like.count users_like=song.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total"> {{ total_likes }} </span>
                    like {{ total_likes|pluralize }}
                </span>
                <span class="count">
                    {{ total_views }} view {{ total_views|pluralize }}
                </span>
                <a href="#" data-id="{{ song.id }}" data-action="{% if request.user in users_like %} un {% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>
        {{ song.description|linebreaks }}
        </div>

        <div class="image-likes">
            {% for user in song.users_like.all %}
                <div>
                    <img src="/media/{{ user.profile.photo }}">
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
    <div class="info">
        <a href="{{ song.edit_get_absolute_url }} " class="title">
            Edit
        </a>
    </div>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment {{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    {% if new_comment %}
        <h2> Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "musics:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action',
            previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.follow').text(
            previous_action == 'like' ? 'Unlike' : 'like');

          // update total likes
          var previous_likes = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}

{% block domeready %}

{% endblock %}